#calculator {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    background-color: rgb(252, 214, 200);
}

#formula-bar {
    text-align: right;
    color: grey;
    background-color: white;
    height: 30px;
}

#calculator-head {
    height: 100px;
    font-size: xx-large;
    text-align: right;
}

#button-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    height: 400px;
}

#number-buttons {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    width: 200px
}

#function-buttons {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    width: 150px;
}

button {
    text-align: center;
    vertical-align: middle;
    height: 50px;
    line-height: 50px;
    width: 50px;
    background-color: coral;
}
